
.panels-container{
    margin-top: 15px;
}
.view-count{
    flex-direction: column;
    display: flex;
    align-items: center;
    &>a{
        font-size: 10px;
        text-decoration: underline;
    }
}
.x-align-center{
    align-items: center;
}
.y-align-center{
    justify-content: center;
}
.inline{
    display: flex;
    align-items: center;
    gap: 15px;
}
.colour-coder{
    width: 14px;
    height: 14px;
    background-color: gray;
}
.b-light{
    border: 1px solid #33333327;
    padding: 5px;
}
.b-solid{
    border: 1px solid #33333385;
    padding: 5px;
}
.round-edges{
    border-radius: 5px;
}
.f-edges{
    border-radius: 3px;

}
.card{
    padding: 5px;
}
.icon-holder{
    height: 50px;
    width: 50px;
}

/* stats panel */
.stats-panel{
    margin-bottom: 12px;
}

/* recent feed styling */

.popup-placeholder{
    margin: 5px 20px 0 0;
    padding: 0;
    &>.list-viewer{
        width: 100%;
        position: relative;
    }
    & ul{
        border: 1px solid #333;
        background-color: #4e4e4e1e;
        height: 160px; /*80px*/
        overflow: hidden;
        position: relative;
        list-style: none;
        left: 0;
        top: 0;
        font-size: 15px;
        &>button{
            border-radius: 0 0 3px 3px;
            bottom: 0px;
            left: 0;
            position: absolute;
            height: 18px;
            backdrop-filter: blur(2px);
            background-color: #a7a7a7b6;
            width: 100%;
            border: none;
            text-align: center;
            border-top: 1px solid #979797;
            box-shadow: inset 0 2px 4px -1px #b4b1b1;
            outline: none;
        }
        &>li{
            padding: 4px 4px 4px 15px ;

            &>span:last-child{
                margin-left: 12px ;
            }
        }
        
    }
    
}
.health-board{
    & h5{
        text-align: center;
    }
    margin-right: 15px;
    & ul{

        &>li{
            margin-bottom: 4px;
            margin: ;
            position: relative;
            &>.view-count{
                border-radius: 3px;
                padding: 0px 8px;
                border: 1px solid;
            }
            &>.colour-coder{
                border-radius: 2px;
                position: absolute;
                right: -27px;
            }
            &>span{
                font-size: 13px;
            }
        }
    }
    & .card{
        padding-inline: 10px 20px ;
        margin-top: 5px;
    }
}
.inventory-alert{
    & h5{
        text-align: center;
    }
    &>.stock-alert>.inline{
        align-items: end;
    }
    & .stock-alert-title h6{
        text-align: center;
    }
    & .card:first-of-type{
        border-color: red;
        margin: 5px 0 2px;
        padding: 3px 10px;
    }
    & .expiry-alert{
        &>button{
            width: 100%;
        }
        &>.inline{
            display: flex;
            align-items: center;
        }
    }
    & .bar-status{
        border-top: 1px solid #33333377;
        margin-top: 6px;
        padding: 4px 5px;
        &>.bars-holder{
            gap: 2px;
            background-color:rgba(255, 0, 0, 0.281);
            &>.bar{
                background-color: red;
                height: 4px;width: 9px;
            }
        }
    }
}
.quick-link-panel{
    margin: 30px 0 20px 0;
    & h3{
        font-weight: 500;
        border-bottom: 1px solid #ee09a24b;
    }
    &>.inline{
        align-items: end;
        list-style: none;
        margin-top: 9px;
        & a{
            font-size: 14px;
            text-decoration: underline;
        }
        & li:last-child{
            margin-left: auto;
        }
        & button{
            padding-inline: 12px;
            
        }
    }
}

.activity-panel{
    background-color: #dadacf8a;

    box-shadow: 1px 3px 15px -4px #333333a8;
    padding: 10px 20px;
    width: 30%;
    &>.sale-ready-animals{
        background-color: #ffffff8f;

        margin-top: 10px;
        margin-bottom: 25px;
        & .card{
            padding: 5px 6px 8px 15px;
        }
        & .inline{
            margin-bottom: 5px;
            align-items: end;
            justify-content: space-between;
        }
    }
    &>.vaccine-schedule{
        background-color: #ffffff8f;
        backdrop-filter: blur(2px);
        &>.card{
            margin-top: 5px;

            & .view-count{
                align-items: start;
            }
        }
    }
}
.panel-divider{
    justify-content: space-between;
}
.total-animals{
    padding: 10px;
    background-color: #dadacf;
    border-radius: 4px;
    &>.inline{
        align-items: flex-start;
    
        &>.dounut-graph {
            margin-right: 0px;
        }
    }
    &>.inline .inline{
        align-items: flex-start;
    }
    & .circle{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #42424293; */
        border-radius: 50%;
        box-shadow: -5px 2px 16px -7px #000000,
                    7px -6px 13px -12px #000000;
        background: conic-gradient( orange 90deg, #af06da 90deg 160deg, green 0deg );
    
    }
    & .circle>.circle{
        width: 170px;
        height: 170px;
        background: #dadacf;
        box-shadow: none;
        box-shadow:  -10px 1px 12px -8px #00000059
                    ,inset -10px 5px 10px -6px #333333
                    ;
        &>.animal-counts{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            &>.view-count{
                &>.ea-species-count{
                    display: flex;
                    flex-wrap: wrap;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                    /* gap: 5px 20px; */
                    width: 80px;
                    /* background-color: red; */

                    &::after{
                        align-items: center;
                        justify-content: center;
                    }

                    &>.view-count{
                        width: 30px;
                        row-gap: 2px;
                        font-size: 11px;

                        &>.colour-coder{
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                &>h2:last-of-type{
                    font-weight: 300;
                    margin-bottom: 5px;
                }
            }
            /* background-color: yellow; */
            & .ea-species-count{
                display: flex;

                /* &>.view-count{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                } */
            }
        }

        
    }
}
.graph-info{
    border-radius: 4px;
    background-color: #ffffff8f;
    padding: 0 15px 10px 20px;
    & h4{
        margin-top: 20px;
    }
    &>.species-list{
        margin-top: 10px;
        
        & .inline{
            margin-top: 2px;
            align-items: center;
            font-size: 12px;
        }
        & .colour-coder{
            width: 12px;
            height: 12px;
        }
    }
}
.panel-divider {
    &>.graph-panel {
        /* background-color: blue; */
        width: 100%;
    }
}
.trendAsBar-graph{
    position: relative;
    width: 100%;
    margin-left: 18px;
    /* background-color: red; */
    & h6{
        width: max-content;
        font-size: 10px;
        text-align: center;
        position: absolute;
        left: -90px;
        bottom: 80px;
        transform: rotate(-90deg) translate(20px, -200%);
    }
    
    &>.bar-graph{
        display: flex;
        align-items: center;
        position: relative;
        /* background-color: green; */
        height: 210px;
        width: 95%;
        display: flex;
        align-items: end;
        border-left: 2px solid #464545ec;
        border-bottom: 2px solid #464545ec;

        &>.bar{
            height: 60px;
            width: 5%;
            border: 1px solid;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: end;
            background-color: blue;

            /* &::before{
                content: '';
                position: absolute;
                width: 80%;
                height: 10px;
                transform: rotate(45deg);
                background-color: black;
                bottom: -5px;
                z-index: -1;
            } */

            &>.paultry{
                height: 50px;
                width: 50%;
                background-color: red;

                
            }

            &>.day{
                position: relative;
                &>span{
                    font-size: 12px;
                    position: absolute;
                    bottom: -20px;
                    left: -2px;
                     &::before{
                        content: '';
                        position: absolute;
                        left: 0px;
                        /* transform: translateX(-90%); */
                        width: 8px;
                        height: 8px;
                        transform: rotate(45deg);
                        background-color: #464545ec;
                        top: -10px;
                        z-index: -1;
                    }
                    
                }
            }
        }
        &>.bar:nth-child(3){
            height: 80px;
        }
        &>.bar:nth-child(4){
            height: 85px;
        }
        &>.bar:nth-child(28){
            height: 25px;
        }
        
    }
}